extends layout
block content
  .container-fluid
    // Page Heading
    .row
      .col-lg-12
        h1.page-header
          | 출석 체크
          small  Check Attendance 
    // /.row
    .row
      .col-lg-offset-2
      .col-lg-8
        .form-group
        form#upload-image-form(action='/checkAttend', method='post', enctype='multipart/form-data')
          #image-preview-div
            label(for='exampleInputFile') Selected image:
            br
            img#preview-img(src='/img/noimage.jpg')
          .form-group
            input#file(type='file', name='uploadFile', required='')
          button#upload-button.btn.btn-lg.btn-primary(type='submit', disabled='') Upload image
    .row
      .col-lg-8.col-lg-offset-2
        each user in params.users
          img(src='#{user.imgSrc}')
          p.id 학번 : #{user.id}
          p.name 이름 : #{user.name}
            
          
        
  script(src='/js/register.js')
