extends layout
block content
  .container-fluid
    // Page Heading
    .row
      .col-lg-12
        h1.page-header
          | 출석 체크
          small  Check Attendance 
    // /.row
    .row
      .col-lg-8.col-lg-offset-2
        .form-group
          form#upload-image-form(action='/checkAttend', method='post', enctype='multipart/form-data')
            .row
              #image-preview-div
                label(for='exampleInputFile') Selected image:
                br
                img#preview-img(src='/img/noimage.jpg')
              .form-group
                input#file(type='file', name='uploadFile', required='')
            .row
              select.form-control(name='timeData')
                if params.timeDatas
                  each timeData in params.timeDatas
                    option(value=timeData.couNum + "/" + timeData.order + "/" + timeData.time) #{timeData.timeString}
            .row.text-center
              button#upload-button.btn.btn-lg.btn-primary(type='submit') Do Attend!
          
        
  script(src='/js/register.js')
