extends layout
block headExtra
  link(href='/css/classAttend.css', rel='stylesheet')
block content
  .container-fluid
    // Page Heading
    .row
      .col-lg-12
        h1.page-header
          | 출석 체크
          small  Check Attendance
    // /.row
    .row
      .col-lg-8.col-lg-offset-2
        .form-group
          form(action='/classAttend', method='post')
            .row
              .imgDiv
                p Latest image:
                .imgCover
                  if params.imageUrl
                    img(src=params.imageUrl)
                  else
                    img(src='/img/noimage.jpg')
            .row
              input.form-control(type='text', name='couNum', placeholder='Course Number')
              input.form-control(type='text', name='order', placeholder='Order')
              input.form-control(type='datetime', name='time', placeholder='time, ex)2017-01-01 09:00:00')
            .row.text-center
              button.btn.btn-lg.btn-primary(type='submit') Do Attend!
              
  script(src='/js/classAttend.js')
