extends layout
block headExtra
  script(src='/js/index.js')
  script.
    $(function(){
      console.log(parseInt($('#mob-wrapper').css('width'))-30);
      var svgWidth = parseInt($('#mob-wrapper svg').parent().css('width'))-30;
      if(svgWidth > 300)
        $('svg').attr('width', svgWidth);
      var attendStats = JSON.parse('!{params.attendStats}');
      makeDonutChart('', attendStats.datas);
    })
block content
  .container-fluid
    // Page Heading
    .row
      .col-lg-12
        h1.page-header
          | 출석 통계
          br
          small Statistics Overview
    // /.row
    .row
      .col-xs-12.col-lg-6.col-lg-offset-3
        svg(width="630", height="500")
  // /.container-fluid
