html
  head
    title #{title}
    link(rel='stylesheet', href='/css/intro.css')
    script(src='js/jquery.js')
    script(src='js/intro.js')
  body
    .container
      .login-container
        #output
        .avatar
        .form-box
          form(action='/login', method='post')
            input(name='id', type='text', placeholder='ID' value='raindoor' required autofocus)
            input(name='pw', type='password', placeholder='Password' value='raindoor' required)
            input(id='state', type='hidden', value='#{state}')
            button.btn.btn-info.btn-block.login(type='submit') Login
