.userDiv{
  padding-top: 20px;
  font-size: 20px;
}
.userDiv table th
.userDiv table td,{
  padding: 6px;
  height: 41px;
}
img.userPic{
  float: left;
  width: 100%;
}
.id{
  display: inline-block;
  padding-top: 54px;
}
.name{
  padding-top: 20px;
}
