.imgDiv img{
  width: 100%;
  display: block;
}
.imgCover{
  background-color: white;
  background: url('/img/refresh.gif') no-repeat center;
  cursor: pointer;
}
.imgCover:hover img{
  opacity: 0.5;
}
