
body {
    margin-top: 100px;
    background-color: #fff;
}

@media(min-width:768px) {
    body {
        margin-top: 60px;
    }
}

#wrapper {
    padding-left: 0;
    margin: 0 auto;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

@media(min-width:768px) {
    #wrapper {
      width:1280px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

.huge {
    font-size: 50px;
    line-height: normal;
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 30px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
  #wrapper{
    display: block;
  }
  #mob-wrapper{
    display: none;
  }
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }

    .form-group>div{
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .input-group input.form-control{
      width: 73%;
    }
    .input-group span label{
      width: 100%;
    }

    width: 100%;

    .time-list{
      width: 52%;
    }
}

@media(max-width:768px) {
  body{
    margin-top: 60px;
  }
  #wrapper{
    display: none;
  }
  #mob-wrapper{
    display: block;
  }
  .top-nav>li{
    display: block;
    float: none;
  }

  .navbar-toggle{
    float: left;
    text-align: center;
    margin-top: 13px;
    margin-left: 13px;
  }
  .navbar-brand{
    margin: 0 auto;
    display: block;
    width: 100px;
    float: none;
  }
  .navbar-header{
    margin-bottom: 0;
  }
  #bs-navbar a{
    padding: 4px 15px 4px 10px !important;
    font-size: 18px !important;
    position: relative;
    display: block;
    color: rgba(255,255,255,0.75);
    border-radius: 9px;
  }
  #bs-navbar a > i{
    padding-right: 5%;
    width: 30px;
  }
  #bs-navbar a:hover{
    text-decoration: none;
  }
  #bs-navbar ul a:hover{
    background-color: #111;
  }
  #bs-navbar ul{
    padding-left: 20px;
  }
  .dropdown{
    padding: 0;
    margin: 0;
    height: 41px;
  }
  .dropdown-menu{
    position :relative !important;
    width: 100%;
    background-color: #222222;
    color: #999999
  }
  .dropdown-menu > a{
    padding: 0;
  }
  #bs-navbar{
    margin-top: 0;
    padding-top: 10px;
    position: fixed;
    width: 100%;
    z-index: 3;
  }
}

.chkAttMenu{
  width: 100%;
  margin: 0;
  font-size: 20px !important;
  color: #999999;
}

.chkAttStr{
  float: right;
  margin: 0;
  margin-right: 30%;
  font-size: 15px;
  color: #999999;
}
.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}
.vTop{
  vertical-align: top !important;
}
.vMiddle{
  vertical-align: middle !important;
}
.vBottom{
  vertical-align: bottom !important;
}
.hidden{
  display: none !important;
}


table.att th,
table.att td{
	text-align: center;
	height:46px;
}
tr.attendData td{
	font-size:20px;
}
td.success{background-color:#dff0d8;}
td.late{background-color:#faf2cc;}
td.absence{background-color:#ebcccc;}
.navbar-header a{
  font-size: 18px;
  height: 60px;
  padding: 20px 15px;
}
.navbar-inner-wrapper{
  width: 1280px;
  margin: 0 auto;
}
.top-nav>li>a{
  font-size: 18px;
}
#image-preview-div{
  margin-bottom: 20px;
}
#image-preview-div img{
  width: 100%;
}
.wrapper{
  margin-top: 10px;
}
#upload-image-form .form-group{
  margin-bottom: 10px;
}
