#timetable tr{
  height: 40px;
}
#timetable th{
  width: 15.5%;
}
#timetable th,
#timetable td.time{
  background-color: #f5f5f5;
}
#timetable th.times{
  width: 57px;
}
#timetable td[courseNum]:hover{
  cursor: pointer;
  opacity: 0.7;
}
#timetable td.color0{background-color: #98FB98;}
#timetable td.color1{background-color: #FFB6C1;}
#timetable td.color2{background-color: #EE82EE;}
#timetable td.color3{background-color: #FFE4C4;}
#timetable td.color4{background-color: #FFF0F5;}
#timetable td.color5{background-color: #B0E0E6;}
#timetable td.color6{background-color: #D2B48C;}
#timetable td.color7{background-color: #9370DB;}
#timetable td.color8{background-color: #FF7F50;}
#timetable td.color9{background-color: #F08080;}
/*td.time{
  font-size: 12px;
  padding:1px !important;
}
td.startTime{
  border-right: 0 !important;
}
td.endTime{
  border-left: 0 !important;
}*/
