extends ../layout
block content
  .container-fluid
    // Page Heading
    .row
      .col-lg-12
        h1.page-header
          | 얼굴 등록
          small Face Register
    // /.row
    .row
      .col-lg-8.col-lg-offset-2
        .form-group
          form#upload-image-form(action='/register', method='post', enctype='multipart/form-data')
            .col-lg-12
              .row
                #image-preview-div
                  label(for='exampleInputFile') Selected image:
                  br
                  img.preview-img(src='/img/noimage.png').center-block
                .form-group
                  input.upload-file(type='file', name='uploadFile', required='').center-block
              .row
                button#upload-button.btn.btn-lg.btn-primary(type='submit').center-block Upload image
    .row
      .userDiv.col-lg-8.col-lg-offset-2
        each imgSrc in params.imgSrcs
          img.userPic(src='#{imgSrc}')
  script(src='/js/register.js')
  script.
    !{params.js}
